*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
}

/* -----HEADER----- */
.toboolist{
    font-family: 'PT Sans', sans-serif;
    display: inline;
    vertical-align: middle;
}

.img-logo{
    vertical-align: middle;
}

header{
    background-color:rgb(255, 255, 255);
    margin-bottom: 40px;
    padding: 13px 23px;
}

/* -----MAIN----- */
.conteiner{
    width: 900px;
    height: 650px;
    margin: auto;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: white;
}

/* -----I DUE SPAN----- */
.head-div{
    border-bottom: 2px solid rgba(143, 143, 143, 0.5);
    width: 100%;
    padding: 20px 65px 13px 65px;
    margin-bottom: 25px;
}

.add{
    font-family: 'PT Sans', sans-serif;
    border-radius: 10px;
    text-align: center;
}

#add-task{
    background-color: rgba(71,173,241,255);
    color: white;
    font-weight: 580;
    padding: 8px 14px;
}

#add-section{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(143, 143, 143, 0.5);
    color: rgba(143, 143, 143, 0.5);
    font-weight: bold;
    padding: 6px 14px;
}
/* ---------- */

/* -----zona CENTRALE----- */
.new-task{
    width: 100%;
    height: 100px;
}

.today{
    width: 100%;
    height: 225px;
}

.upcoming{
    width: 100%;
    height: 225px;
}

.titoli{
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    padding: 0 70px;
    color: rgba(79,83,91,255);
}

.triangle{
    font-size: 20px;
}

/* -----oggetti all'interno delle sezioni TASK, TODAY e UPCOMING----- */
.object{
    padding: 0 70px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

#new-task-object{
    height: 60px;
    width: 100%;
}

#today-object{
    height: 195px;
    width: 100%;
}

#upcoming-object{
    height: 195px;
    width: 100%;
}

.object-line{
    margin-bottom: 15px;
}

/* --zona CHECKED/UNCHECKED lato sx */
.checked{
    border: 2px solid rgba(131,205,188,255);
    color: rgba(131,205,188,255);
    border-radius: 50px;
    font-size: 15px;
    padding-left: 5px;
    margin-right: 10px;
}

.unchecked{
    border: 2px solid rgba(235,89,82,255);
    color: rgba(235,89,82,255);
    border-radius: 50px;
    font-size: 16px;
    padding-left: 4px;
    margin-right: 10px;
}

/* --zona INFO LATO DX-- */
.editorial{
    color: white;
    border-radius: 15px;
    background-color: rgba(69,171,234,255);
    font-size: 13px;
    font-weight: 400;
    padding: 7px 15px;
    margin-left: 5px;
}

.q1goals{
    color: white;
    border-radius: 15px;
    background-color: rgba(156,114,228,255);
    font-size: 13px;
    font-weight: 400;
    padding: 7px 15px;
    margin-left: 5px;
}

.recruiting{
    color: white;
    border-radius: 15px;
    background-color: rgba(100,192,169,255);
    font-size: 13px;
    font-weight: 400;
    padding: 7px 15px;
    margin-left: 5px;
}

.mobile{
    color: white;
    border-radius: 15px;
    background-color: rgba(242,158,51,255);
    font-size: 13px;
    font-weight: 400;
    padding: 7px 15px;
    margin-left: 5px;
}

.website{
    color: white;
    border-radius: 15px;
    background-color: rgba(216,99,161,255);
    font-size: 13px;
    font-weight: 400;
    padding: 7px 15px;
    margin-left: 5px;
}

.sales{
    color: white;
    border-radius: 15px;
    background-color: rgba(176,201,38,255);
    font-size: 13px;
    font-weight: 400;
    padding: 7px 15px;
    margin-left: 5px;
}